<div class="home">
  <div class="header">
    <div class="logo">
      <p><b>Car</b>store</p>
    </div>
    <div class="search-field">
      <input placeholder="Search cars ..."
             (input)="onSearchChange($event.target.value)">
      <!--[(ngModel)]="filters.search">-->
    </div>
    <div class="profile">
      <div *ngIf="!isLoggedIn" class="login_signup">
        <div class="login">
          <a routerLink="/login">Login</a>
        </div>
        <div class="signup">
          <a routerLink="/sign-up">Sign up</a>
        </div>
      </div>
      <div *ngIf="isLoggedIn">
        <span>{{email}} | </span>
        <span (click)="logOut()">LOGOUT</span>
      </div>
      <button (click)="open(content)"><i class="fa fa-plus-circle"></i></button>
    </div>
  </div>

  <div class="main">
    <div class="filters">
      <div class="brands" style="margin-left: 2em;">
        <div class="brand" *ngFor="let brand of brands">
          <input type="checkbox" (click)="addToFilter('brands', brand)" class="form-check-input">
          <label class="form-check-label">{{brand}}</label>
        </div>
      </div>
      <div class="years" style="margin-left: 2em;">
        <div class="year" *ngFor="let year of years">
          <input type="checkbox" (click)="addToFilter('years', year)" class="form-check-input">
          <label class="form-check-label">{{year}}</label>
        </div>
      </div>
      <div class="colors" style="margin-left: 2em;">
        <div class="color" *ngFor="let color of colors">
          <input type="checkbox" (click)="addToFilter('colors', color)" class="form-check-input">
          <label class="form-check-label">{{color}}</label>
        </div>
      </div>
      <div class="driveTypes" style="margin-left: 2em;">
        <div class="driveType" *ngFor="let driveType of driveTypes">
          <input type="checkbox" (click)="addToFilter('driveTypes', driveTypes)" class="form-check-input">
          <label class="form-check-label">{{driveType}}</label>
        </div>
      </div>
      <div class="transportTypes" style="margin-left: 2em;">
        <div class="transportType" *ngFor="let transportType of transportTypes">
          <input type="checkbox" (click)="addToFilter('transportTypes', transportType)" class="form-check-input">
          <label class="form-check-label">{{transportType}}</label>
        </div>
      </div>
      <div class="engineTypes" style="margin-left: 2em;">
        <div class="transportType" *ngFor="let engineType of engineTypes">
          <input type="checkbox" (click)="addToFilter('engineTypes', engineType)" class="form-check-input">
          <label class="form-check-label">{{engineType}}</label>
        </div>
      </div>
      <div class="passengerAmount" style="margin-left: 2em;">
        <div class="passenger" *ngFor="let passenger of passengerAmount">
          <input type="checkbox" (click)="addToFilter('passengerAmount', passenger)" class="form-check-input">
          <label class="form-check-label">{{passenger}}</label>
        </div>
      </div>
    </div>
    <div class="body">
      <div *ngFor="let car of cars" class="car">
        <img src="{{apiUrl}}get-image/{{car.imgId}}">
        <span>Brand: {{car.brand}}</span>
        <span>Model: {{car.model}}</span>
        <span>Color: {{car.color}}</span>
        <span>Doors amount: {{car.doorsAmount}}</span>
        <span>Drive type: {{car.driveType}}</span>
        <span>Engine type: {{car.engineType}}</span>
        <span>Passenger amount: {{car.passengerAmount}}</span>
        <span>Transport type: {{car.transportType}}</span>
        <span>Mileage: {{car.mileage}}</span>
        <span>Year: {{car.year}}</span>
        <b>Price: {{car.price}}</b>
        <div class="buy" *ngIf="role === 'ROLE_USER'">
          <button (click)="buyCar(car.id)" [disabled]="car.amount == 0" [class]="car.amount == 0 ? 'btn btn-outline-secondary':'btn btn-success'">Buy</button>
        </div>
      </div>
    </div>
  </div>
</div>




<ng-template #content>
  <div class="modal-body">
    <div class="header">
      <button class="close" (click)="modalClose()">
        <span aria-hidden="true">&times;</span>
      </button>
      <h3>New site</h3>
    </div>
    <form (ngSubmit)="onCarCreate(form)" name="countries-form" #form="ngForm">
      <img style="max-height: 250px;" [src]="previewFileSrc" alt="file">
      <label for="file">Upload your picture</label>
      <input type="file" id="file" (change)="onFileSelected($event.target.files)">

      <div class="form-group">
        <div class="label-input">
          <label for="model">Model</label>
          <input class="form-control" id="model" type="text" name="model" placeholder="Enter model" ngModel required
                 #model="ngModel">
        </div>
        <small *ngIf="!model.valid && model.touched" class="form-text text-muted help-block">Model shouldn't be blank!
        </small>
      </div>
      <div class="form-group">
        <div class="label-input">
          <label for="brand">Brand</label>
          <select class="form-control" id="brand" name="brand" [ngModel]="'none'" required #brand>
            <option value="none">Brand</option>
            <option *ngFor="let brand of brands">{{brand}}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <div class="label-input">
          <label for="model">Year</label>
          <input class="form-control" id="year" type="number" name="year" placeholder="Enter year" ngModel required
                 #year="ngModel">
        </div>
        <small *ngIf="!year.valid && year.touched" class="form-text text-muted help-block">Year shouldn't be blank!
        </small>
      </div>
      <div class="form-group">
        <div class="label-input">
          <label for="color">Color</label>
          <input class="form-control" id="color" type="text" name="color" placeholder="Enter color" ngModel required
                 #color="ngModel">
        </div>
        <small *ngIf="!color.valid && color.touched" class="form-text text-muted help-block">Color shouldn't be blank!
        </small>
      </div>
      <div class="form-group">
        <div class="label-input">
          <label for="driveType">Drive type</label>
          <select class="form-control" id="driveType" name="driveType" [ngModel]="'none'" required #driveType>
            <option value="none">Drive types</option>
            <option *ngFor="let type of driveTypes">{{type}}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <div class="label-input">
          <label for="transportType">Transport type</label>
          <select class="form-control" id="transportType" name="transportType" [ngModel]="'none'" required #transportType>
            <option value="none">Transport types</option>
            <option *ngFor="let type of transportTypes">{{type}}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <div class="label-input">
          <label for="mileage">Mileage</label>
          <input class="form-control" id="mileage" type="number" name="mileage" placeholder="Enter mileage" ngModel
                 required
                 #mileage="ngModel">
        </div>
        <small *ngIf="!mileage.valid && mileage.touched" class="form-text text-muted help-block">Mileage shouldn't be
          blank!
        </small>
      </div>
      <div class="form-group">
        <div class="label-input">
          <label for="doorsAmount">Doors amount</label>
          <input class="form-control" id="doorsAmount" type="number" name="doorsAmount" placeholder="Enter doors amount" ngModel
                 required
                 #doorsAmount="ngModel">
        </div>
        <small *ngIf="!doorsAmount.valid && doorsAmount.touched" class="form-text text-muted help-block">Doors amount shouldn't be
          blank!
        </small>
      </div>
      <div class="form-group">
        <div class="label-input">
          <label for="engineType">Engine type</label>
          <select class="form-control" id="engineType" name="engineType" [ngModel]="'none'" required #engineType>
            <option value="none">Engine type</option>
            <option *ngFor="let engineType of engineTypes">{{engineType}}</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <div class="label-input">
          <label for="passengerAmount">Passenger amount</label>
          <input class="form-control" id="passengerAmount" type="number" name="passengerAmount" placeholder="Enter passenger amount" ngModel
                 required
                 #passenger="ngModel">
        </div>
        <small *ngIf="!passenger.valid && passenger.touched" class="form-text text-muted help-block">Passenger amount shouldn't be
          blank!
        </small>
      </div>
      <button [ngClass]="(!form.valid || brand.value==='none' || driveType.value==='none' || engineType.value==='none' || transportType.value==='none')?'btn-outline-secondary':'btn-primary'"
              class="btn"  type="submit" [disabled]="!form.valid || brand.value==='none' || driveType.value==='none' || engineType.value==='none' || transportType.value==='none'">Create site
      </button>
    </form>
  </div>
</ng-template>
