<div class="item">
  <form (ngSubmit)="onLogin(f)" #f="ngForm">
    <span>Sign in</span>
    <div *ngIf="error.length!==0">
      {{error}}
    </div>
    <div class="form-group">
      <label for="email">Email address</label>
      <input class="form-control" id="email" type="text" name="email" placeholder="Enter email" ngModel required email
             #email="ngModel">
      <small *ngIf="!email.valid && email.touched" class="form-text text-muted help-block">Email should be valid!
      </small>
    </div>
    <div class="form-group">
      <label for="password">Password</label>
      <input class="form-control" id="password" type="password" name="password" placeholder="Enter password" ngModel
             required
             #password="ngModel">
      <small *ngIf="!password.valid && password.touched" class="form-text text-muted help-block">Password should be
        valid!
      </small>
    </div>
    <a routerLink="/sign-up">Create account</a>
    <div class="back_login_btns">
      <button class="post_job_btn" type="submit" [disabled]="!f.valid">Login</button>
      <button routerLink="/" class="post_job_btn">< Back</button>
    </div>
  </form>
</div>
